<html>
    <head>
        <meta name = "author" content = "Brendan Aucoin">
        <meta name="description" content="Record Store checkout">
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>Page not found</title>

        <!-- styles -->
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/404_styles.css">
        <!-- scripts -->
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <%-include('partials/header.ejs') %>
        <%-include('partials/nav.ejs')%>
        <div class = "wrapper">
            <h1>404 Error: Not found</h1>
        </div>
    </body>
</html>