<!-- include the styles -->
<head>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/header_styles.css">
    
    <script defer src = "/scripts/header_script.js"></script>
</head>

<header>
    <div class = "search">
        <input id = "search-bar" type = "text" placeholder = "Search" />
        <button id = "search-submit-button" type = "submit"> Submit</button>
    </div>

    <a href = "/cart" class = "cart">
        <span>Cart</span>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </a>
</header>
<!-- where the name of the store and logo will go -->
<div class="logo">
    <h1>Brendan's Record Store</h1>
    <div class = "socials">
        <i id = "facebook-button" class="fa fa-facebook" aria-hidden="true"></i>
        <i id = "twitter-button" class="fa fa-twitter" aria-hidden="true"></i>
        <i id = "youtube-button" class="fa fa-youtube-play" aria-hidden="true"></i>
    </div>
</div>

<!-- the back to top button -->
<i class="fa fa-angle-double-up" id = "back-to-top-button" aria-hidden="true"></i>